@model TransporteSACMVC.Models.ConductorModel

<div>
    <h4>Detalle Conductor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ape_pat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_pat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ape_mat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_mat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "updateConductor", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
